<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Strike_BackEnd_Avan_aTech_ProjetoFinal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/botao.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Strike_BackEnd_Avan_aTech_ProjetoFinal.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
          @* CONVITE PRA NEWSLETTER *@
    <div class="bg-success  d-flex justify-content-center">
       <a class="container fw-bold text-center text-light " asp-page="Newsletter">
        CADASTRE NA NOSSA NEWSLETTER E SAIBA AS NOVIDADES DO MUNDO DO ESPORTE
        </a>
    </div>
        
        @* BARRA DO TOPO  LOGO*@
  <nav class="row align-items-center">
        
            <div class="col-1">
            <a href="./">
                <img src="./img/StrikeLogo.png" alt="Logo Monograma Strike"  width="75" class="ms-5">
             </a>
            </div>
         @* Botao copa*@
            <div class="col-1">
                <a href="./Copa" class="botao">COPA DO MUNDO</a>
            </div>
             @* BARRA DE PESQUISA*@
               <div class="col-5"> 
                <form class="d-flex  flex-grow-1" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Pesquisar">
                    <button class="btn btn-outline-success" type="submit">Pesquisar </button>
                </form>
                </div>


        @*Botões*@
                <div class="col-3 d-flex gap-3 justify-content-center">
                    <a href="./Noticias" class="botao">Notícias</a>
                    <a href="./Newsletter" class="botao">Newsletter</a>
                    <a href="./Copinha" class="botao">Copinha</a>
                    <a href="./Cadastro" class="botao">Cadastre</a>
                </div>

              
                 <div class="col-1">
                    <a href="./Adote" class="botaoDestaque">ADOTE</a>
                </div>
                <div class="col-1">
                    <a href="./Aposta" class="botaoDestaque">Apostas</a>
               
                </div>
            </div>

        </div>
    </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - Strike_BackEnd_Avan_aTech_ProjetoFinal - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>