@page
@model Strike_BackEnd_Avan_aTech_ProjetoFinal.Pages.AdoteModel
@{
    ViewData["Title"] = "Programa de Incentivo ao Esporte - Adote um atleta mirim";
}
<h1>@ViewData["Programa de Incentivo ao Esporte - Adote um atleta mirim"]</h1>



@* BANNER DO PROGRAMA *@

<div class="d-flex justify-content-center espacamento img-fluid-extend bg-black">
    <img src="./img/AdoteUmAtleta_Banner.png"  />
</div>

<div class=" ">
    <img src="./img/BarraPatrocinioEsporte.png" alt="" class="w-100 img-fluid mt-4 "/>
</div>
<div class=" ">
    <img src="./img/Espaço.png" alt="" class="w-100 img-fluid mt-4 "/>
</div>

<div class=" justify-content-start ms-5 " >
<h1>Programa de Incentivo ao Esporte - Adote um atleta</h1>
<div class=" ">
    <img src="./img/Espaço.png" alt="" class="w-100 img-fluid mt-4 "/>
</div>
<p>No Adote um Atleta, você pode contribuir para o incentivo ao esporte e ajudar jovens talentos a transformarem dedicação em oportunidades reais.  </p>
<p>O programa conecta apoiadores a atletas, equipes e projetos esportivos que precisam de recursos para continuar treinando, participando de competições e desenvolvendo seu potencial.Sua contribuição pode auxiliar na aquisição de materiais esportivos, uniformes, transporte para campeonatos, alimentação, treinamentos especializados  e outras necessidades fundamentais para a prática esportiva.</p>
<p> </p>
<p>Acreditamos que o esporte é uma poderosa ferramenta de inclusão social, educação e desenvolvimento humano. Ao adotar um atleta, você não está apenas apoiando uma modalidade esportiva, mas também investindo em sonhos, disciplina, saúde e na construção de um futuro melhor para milhares de jovens. </p>
<p> </p>
<p>Junte-se a essa iniciativa e faça parte de uma rede que acredita no poder transformador do esporte.</p>

</div>

<div class=" ">
    <img src="./img/Espaço.png" alt="" class="w-100 img-fluid mt-4 "/>
</div>

<div class="d-flex justify-content-start ms-5 ">
    <button class="bg-success">ADOTE UM ATLETA</button>
</div>
<div class=" ">
    <img src="./img/Espaço.png" alt="" class="w-100 img-fluid mt-4 "/>
</div>

