@page
@model ApostaModel
@{
    ViewData["Title"] = "Aposte";
}
<div class="justify-content-center">
 
<div class=" justify-content-center img-fluid width=1080px">
     <img src="./img/Aps1.png" alt="">

    </a>
</div>

      
                 
                
            </div>
            </div>
                    <img src="./img/BarraPatrocinioEsporte.png" alt="" class="w-100 img-fluid mt-4 "/>