@page
@model CopaModel
@{
    ViewData["Title"] = "Copa";
}

 
     <div class="container justify-content-center ">
            <div class="container justify-content-center">
                <img src="./img/Copa1.png" alt="" class="w-100 img-fluid mt-4 "/>
            </div>
                <div class="container style-strong text-succes justify-content-center align-items-center">
                <H1>Brasil joga pra longe do empate contra a escócia e garante classificação</H1>
                <p>O Brasil venceu a Escócia com tranquilidade, por 3 a 0, hoje, em Miami, com gols de Vini Jr. (2) e Matheus Cunha. E se o técnico Carlo Ancelotti queria usar o jogo como uma confirmação, dá para sacramentar várias coisas:… - Veja mais em https://www.uol.com.br/esporte/futebol/ultimas-noticias/2026/06/24/brasil-x-escocia-copa-do-mundo-2026.ghtm?cmpid=copiaecola</p>
                <p>A seleção se classificou em primeiro lugar no Grupo C da Copa do Mundo 2026, com sete pontos. Com a mesma pontuação, mas perdendo no saldo, Marrocos ficou em segundo, após vencer o Haiti… - Veja mais em https://www.uol.com.br/esporte/futebol/ultimas-noticias/2026/06/24/brasil-x-escocia-copa-do-mundo-2026.ghtm?cmpid=copiaecola</p>
                <p>O que ainda precisa ser confirmado é o adversário no próximo jogo. O Brasil volta a atuar na segunda-feira, às 14h, em Houston, contra o segundo colocado do grupo que tem Holanda, Japão e Suécia… - Veja mais em https://www.uol.com.br/esporte/futebol/ultimas-noticias/2026/06/24/brasil-x-escocia-copa-do-mundo-2026.ghtm?cmpid=copiaecola</p>
                <h3>Mas veio o segundo tempo</h3>
                <p>O 3 a 0 já estava no placar nos primeiros 15 minutos do segundo tempo e aos 27 minutos do segundo tempo Neymar finalmente estreia na Copa</p>
                <p>O Brasil avança para mata-mata com mais moral do que chegou.</p>
            </div>
            
            <div class="bg-success bg-fluid p-3 b-3 m-3">
                <div class="style-strong text-light justify-content-center align-items-center">
                    <H2>MELHORES MOMENTOS</H2>
                </div>
            </div>
              <div class="d-flex justify-content-center container gap-3 noticias p-5">
                <div class="px-5">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/8xOp47ZrZCM?si=sC4bkmfmdGVxC1dt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p> ARGENTINA X ARGÉLIA AO VIVO NA ITATIAIA | COPA DO MUNDO 2026 | FASE DE GRUPOS</p>
                </div>
                <div class="px-5">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0gVTPg91mgs?si=A4AjBnicrtFjQLs3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p> ARGENTINA X ARGÉLIA AO VIVO NA ITATIAIA | COPA DO MUNDO 2026 | FASE DE GRUPOS</p>
                </div>
                <div class="px-5">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0x9_wDETC4I?si=jv2F4vl6Ob3L5Gbi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>             <p> ARGENTINA X ARGÉLIA AO VIVO NA ITATIAIA | COPA DO MUNDO 2026 | FASE DE GRUPOS</p>


                </div>
               </div>
            
           
         @* FASE DOS GRUPOS TIMES *@
            <div class="bg-success bg-fluid p-3 b-3 m-3">
            <div class="style-strong text-light justify-content-center align-items-center">
                <H2> FASE DE GRUPOS</H2>
            </div>
            </div>

            <div class="container  ">
            <div class="container justify-content-center ">
                            <img src="./img/GrupoA.png" alt="foto copa">
            </div>
            <div class="container justify-content-center ">
                            <img src="./img/GrupoB.png" alt="foto copa">
            <div class="container justify-content-center ">
                            <img src="./img/GrupoC.png" alt="foto copa">
            <div class="container justify-content-center">
                            <img src="./img/GrupoD.png" alt="foto copa">
            <div class="container justify-content-center ">
                            <img src="./img/GrupoE.png" alt="foto copa">
            <div class="container justify-content-center ">
                            <img src="./img/GrupoF.png" alt="foto copa">
            </div>
            
            </div>
        

        </div>
        <div class=" container justify-content-center">
            <img src="./img/Propaganda1.png" alt="foto copa">

        </div>

    <img src="./img/BarraPatrocinioEsporte.png" alt="" class="w-100 img-fluid mt-4 "/>
    