@page
@model IndexModel
@{
    ViewData["Title"] = "Strike";
}

 
<div class="d-flex justify-content-center espacamento" width="800px">
    <img src="./img/FotoHome.png" alt="foto copa">
</div>

    <h2 class="text-center"> Noticias</h2>
      <div class="d-flex justify-content-center gap-5 noticias">
        <div class="px-5">
             <img src="./img/LOGO_STRIKE.png" alt="foto copa">
             <p> teste</p>
            </div>
         @* Botao copa*@
            <div class="px-5">
               <img src="./img/LOGO_STRIKE.png" alt="foto copa">
                <p> teste</p>
            </div>
             
               <div class="px-5"> 
                <img src="./img/LOGO_STRIKE.png" alt="foto copa">
                <p> teste</p>
                </div>

                 <div class="px-5"> 
                <img src="./img/LOGO_STRIKE.png" alt="foto copa">
                <p> teste</p>
                </div>
        </div>

    <div class="d-flex justify-content-center espacamento" width="800px">
        <img src="./img/FotoHome.png" alt="foto copa">
    </div>

    <div class="bg-dark p-5">
    <h2 class="text-light text-start"> Ultimos Videos </h2>
      <div class="d-flex justify-content-center gap-5 noticias p-5">
        <div class="px-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/PL5bD_LSkbo?si=69Xk-a9Nrp9j05eL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
             <p> teste</p>
            </div>
         @* Botao copa*@
            <div class="px-5">
              <link rel="stylesheet" href="">
                <p> teste</p>
            </div>
             
               <div class="px-5"> 
              <link rel="stylesheet" href="">
                <p> teste</p>
                </div>
                
                 <div class="px-5"> 
                 <link rel="stylesheet" href="">
                <p> teste</p>
                </div>
                  <div class="px-5"> 
                 <link rel="stylesheet" href="">
                <p> teste</p>
                </div>
        </div>
        </div>