@page
@model Strike_BackEnd_Avan_aTech_ProjetoFinal.Pages.NewsletterModel
@{
    ViewData["Title"] = "Newsletter";
}
<h1>@ViewData["Neewsletter"]</h1>
<div>
 <div class="container justify-content-center ">
            <div class="container justify-content-center">
                <img src="./img/Copa1.png" alt="" class="w-100 img-fluid mt-4 "/>
            </div>
            
          <H1>Brasil joga pra longe do empate contra a escócia e garante classificação</H1>
          <p>O Brasil venceu a Escócia com tranquilidade, por 3 a 0, hoje, em Miami, com gols de Vini Jr. (2) e Matheus Cunha. E se o técnico Carlo Ancelotti queria usar o jogo como uma confirmação, dá para sacramentar várias coisas:… - Veja mais em https://www.uol.com.br/esporte/futebol/ultimas-noticias/2026/06/24/brasil-x-escocia-copa-do-mundo-2026.ghtm?cmpid=copiaecola</p>
          <p>A seleção se classificou em primeiro lugar no Grupo C da Copa do Mundo 2026, com sete pontos. Com a mesma pontuação, mas perdendo no saldo, Marrocos ficou em segundo, após vencer o Haiti… - Veja mais em https://www.uol.com.br/esporte/futebol/ultimas-noticias/2026/06/24/brasil-x-escocia-copa-do-mundo-2026.ghtm?cmpid=copiaecola</p>
          <p>O que ainda precisa ser confirmado é o adversário no próximo jogo. O Brasil volta a atuar na segunda-feira, às 14h, em Houston, contra o segundo colocado do grupo que tem Holanda, Japão e Suécia… - Veja mais em https://www.uol.com.br/esporte/futebol/ultimas-noticias/2026/06/24/brasil-x-escocia-copa-do-mundo-2026.ghtm?cmpid=copiaecola</p>
          <h3>Mas veio o segundo tempo</h3>
          <p>O 3 a 0 já estava no placar nos primeiros 15 minutos do segundo tempo e aos 27 minutos do segundo tempo Neymar finalmente estreia na Copa</p>
          <p>O Brasil avança para mata-mata com mais moral do que chegou.</p>

    <div class="container justify-content-center">
                <img src="./img/Copa2.png" alt="" class="w-100 img-fluid mt-4 "/>
            </div>
            
          <H1>Neymar buscou conexões com Vini Jr. e teve o sprint mais lento da seleção</H1>
          <p>Neymar voltou a fazer um jogo pela seleção brasileira após quase três anos. Ontem, na vitória sobre a Escócia por 3 a 0, pela Copa do Mundo, o camisa 10 entrou na reta final da partida após se recuperar de lesão na panturrilha e buscou mais conexões com Vini Jr. do que com qualquer outro jogador, mas não esteve no seu dia mais veloz.</p>
          <H2>O que aconteceu</h2>
          <p>Neymar atuou centralizado e completou cinco conexões de passes com Vini Jr . No mais, ele se conectou duas vezes com Fabinho e Alex Sandro e uma com Marquinhos, Bruno Guimarães e Danilo. Ao todo, ele deu 14 passes e completou 12 durante a partida. Os dados foram divulgados pela Fifa.</p>
          <p>O camisa 10 entrou na faixa dos 30 minutos da etapa final . No mais, ele se conectou duas vezes com Fabinho e Alex Sandro e uma com Marquinhos, Bruno Guimarães e Danilo. Ao todo, ele deu 14 passes e completou 12 durante a partida. Os dados foram divulgados pela Fifa.</p>
          <p>O camisa 10 entrou na faixa dos 30 minutos da etapa final . Durante os cerca de 20 minutos que ficou em campo, ele correu 2,4 km, sendo 1,1 km deste recorte em velocidade que variou de 7 a 15 km/h, ou seja, superior a um trote.</p>
          
</div>


