@page
@model NoticiasModel
@{
    ViewData["Title"] = "Notícias";
}
<div class="bg-success bg-fluid p-3 b-3 m-3">
            <div class="style-strong text-light justify-content-center align-items-center">
                <h2> ÚLTIMAS NOTÍCIAS</h2>
</div>
</div>
      
                   @* Grid de noticias *@
                   
                   
                    <div class="container text-center">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                        <div class="col-3 d-flex justify-content-center gap-5 noticias">
                            <div class="px-5">
                            <img src="./img/Copa1.png" alt="foto copa">
                            <h3> Golaço contra a Escócia</h3>
                            </div>
                     </div>


                    <div class="col-3 d-flex justify-content-center gap-5 noticias">
                         <div class="px-5">
                        <img src="./img/Copa2.png" alt="foto copa">
                        <h3> Devagar e sempre, Neymar jogador mais lento da Copa </h3>
                        </div>
                    </div>



                    <div class="col-3 d-flex justify-content-center gap-5 noticias">
                         <div class="px-5">
                        <img src="./img/Copa3.png" alt="foto copa">
                        <H3> Veja os melhores momentos</h3>
                        </div>
                     </div>


                    <div class="col-3 d-flex justify-content-center gap-5 noticias">
                         <div class="px-5">
                        <img src="./img/Copa4.png" alt="foto copa">
                        <H3> Copa do Mundo: veja seleções já classificadas para 2ª fase e as eliminadas</h3>
                        </div>
                    </div>
                               <div class="col-3 d-flex justify-content-center gap-5 noticias">
                            <div class="px-5">
                            <img src="./img/Copa5.png" alt="foto copa">
                            <h3> Neymar buscou conexões com Vini Jr. e teve o sprint mais lento da seleção</h3>
                            </div>
                     </div>


                    <div class="col-3 d-flex justify-content-center gap-5 noticias">
                         <div class="px-5">
                        <img src="./img/Copa6.png" alt="foto copa">
                        <h3> Neymar celebra volta com frase usada por Hamilton, que responde</h3>
                        </div>
                    </div>



                    <div class="col-3 d-flex justify-content-center gap-5 noticias">
                         <div class="px-5">
                        <img src="./img/Copa7.png" alt="foto copa">
                        <h3>Assista aos jogos da Champions na HBO Max. Assine pelo UOL Play</h3>
                        </div>
                     </div>


                    <div class="col-3 d-flex justify-content-center gap-5 noticias">
                         <div class="px-5">
                        <img src="./img/Copa8.png" alt="foto copa">
                        <h3> Paulistão completo é na HBO Max. Assine pelo UOL Play</h3>
                        </div>
                    </div>



                                   <div class="col-3 d-flex justify-content-center gap-5 noticias">
                            <div class="px-5">
                            <img src="./img/Copa9.png" alt="foto copa">
                            <h3> Brasil fica do lado da chave da Argentina e pode enfrentar rivais nas semis</h3>
                            </div>
                     </div>

                <div class=" justify-content-center">
            <img src="./img/Propaganda1.png" alt="foto copa">

        </div>
                    
                        
                 
                </div>
                </div>
            </div>
                    <img src="./img/BarraPatrocinioEsporte.png" alt="" class="w-100 img-fluid mt-4 "/>